.Content {
    position: absolute;
    top: 0;
    bottom: 0;
    width: -webkit-fill-available;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin: 10px;
}